@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
}

body {
    background-image: url("../Images/nebula.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
}

h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-family: "Lily Script One", cursive;
    font-size: 100px;
    color: #fdcf52;
}

.container {
    background: rgba(63, 62, 67, 0.8);
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 60px;
    padding-top:40px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 40px 120px 120px;
    grid-template-areas: 
        "instructions instructions instructions instructions"
        " . score score . "
        "target target user user"
        "green purple yellow pink";
    grid-column-gap: 10px;
    grid-row-gap: 15px;   
}


p {
    grid-column-start: instructions-start;
    grid-column-end: instructions-end;
    grid-row-start: instructions-start;
    grid-row-end: instructions-start;
}

#winsLosses {
    grid-column-start: score-start;
    grid-column-end: score-end;
    grid-row-start: score-start;
    grid-row-end: score-end;
    justify-self: center;
    font-size: 23px;
}

#targetStyle {
    grid-column-start: target-start;
    grid-column-end: target-end;
    grid-row-start: target-start;
    grid-row-end: target-end;
    justify-self: center;
    font-size: 23px;
}

#currentStyle {
    grid-column-start: user-start;
    grid-column-end: user-end;
    grid-row-start: user-start;
    grid-row-end: user-end;
    justify-self: center;
    font-size: 23px;
}

.crystalDiv {
    grid-column-start: green-start;
    grid-column-end: pink-end;
    grid-row-start: green-start;
    grid-row-end: green-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-areas:
        "green purple yellow pink";
    grid-column-gap: 10px;
}

div[data-crystal="green"] {
    grid-column-start: green-start;
    grid-column-end: green-end;
}

div[data-crystal="purple"] {
    grid-column-start: purple-start;
    grid-column-end: purple-end;
}

div[data-crystal="yellow"] {
    grid-column-start: yellow-start;
    grid-column-end: yellow-end;
}

div[data-crystal="pink"] {
    grid-column-start: pink-start;
    grid-column-end: pink-end;
}

.crystalStyle {
    width: 202px;
}


#targetScore, #currentScore {
    font-size: 100px;
    font-family: "Lily Script One", cursive;
    color: #fdcf52;
}

#wins, #losses {
    color: #fdcf52;
    font-family: "Lily Script One", cursive;
    font-size: 23px;
}

/* .container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background: grey;
    height: 400px;
    font-family: "Roboto", sans-serif;
    padding: 30px 20px 30px 20px;
}

.numbersDiv {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.crystalDiv {
    text-align: center;
    width: 100%;
}

#targetStyle, #currentStyle {
    text-align: center;
    width: 35%;
    display: inline-block;
}

#winsLosses {
    text-align: left;
    width: 10%;
    display: inline-block;
}

.crystalStyle {
    display: inline-block;
    width: 25%;
}

