@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: black;
    color: white;
}

img {
    float: left;
}

h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-family: "Lily Script One", cursive;
    font-size: 50px;
}

.container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background: grey;
    height: 400px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}

.numbersDiv {
    text-align: center;
    width: 100%;
}

.crystalDiv {
    text-align: center;
    width: 100%;
}

#targetStyle, #currentStyle, #winsLosses {
    text-align: left;
    width: 33%;
    display: inline-block;
}

.crystalStyle {
    display: inline-block;
    width: 25%;
}